.btn.rip-btn{
  position: relative;
  overflow: hidden;
    @include btn('--ui-primary', '--ui-white');
  .ripple {
    position: absolute;
    background: rgba(255,255,255,0.6);
    border-radius: 50%;
    transform: scale(0);
    pointer-events: none;
  }
}