@import "variables";
@import "mixins";
@import "functions";
@import "colors";
@import "buttons";
@import "backgrounds";
@import "text_fonts";
@import "main_navbar";
@import "icons";
@import "footer";
@import "display";
@import "anime";

html{
  font-size: $body-font-size;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--ui-bg);
  color: var(--ui-text);
}

.hand{
  cursor: pointer;
}

.card-corner {
  @include clip-corner-top-right(24px);
  background-color: var(--ui-surface);
  padding: 1rem;
}
