<footer id="main-footer" class="main-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xxl-3 col-xl-12 text-xxl-start text-center f-col">
                <svg class="logo">
                    <use xlink:href="#logo-current-color"></use>
                </svg>
                <p class="font-fluid-18">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
            <div class="clearfix f-spacer d-block d-xxl-none"></div>
            <div class="col-xxl-3 col-xl-12 f-col">
                <h2 class="fluid mb-4">NAVIGATIONS</h2>
                <ul class="nav f-nav font-fluid-24">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="clearfix f-spacer d-block d-xxl-none"></div>
            <div class="col-xxl-3 col-lg-6 f-col">
                <h2 class="fluid mb-4">CONTACT INFORMATION</h2>
                <div class="font-fluid-24">
                    <p class="font-fluid-24">
                        <strong class="text-ui-primary">Love</strong> valley in Cappadocia
                    </p>
                    <p>50100, Turkey</p>
                    <a href="mailto://arin@example.com" class="text-ui-primary">arin@example.com</a>
                </div>
            </div>
            <div class="clearfix f-spacer d-block d-lg-none"></div>
            <div class="col-xxl-3 col-lg-6 f-col">
                <h2 class="fluid mb-4">WE ARE OPEN</h2>
                <div class="font-fluid-24">
                    <p>Mon-Thu: 9:30 - 21:00</p>
                    <p>Fri: 6:00 - 21:00</p>
                    <p>Sat: 10:00 - 15:00</p>
                </div>
            </div>
        </div>
    </div>
</footer>