{% extends "layouts/default.njk" %}

{% block title %}About{% endblock %}

{% block content %}
<p>Merhaba ben {{ username }}</p>

<p>Bu içerik about.njk içinden geliyor.</p>
<p>Bugünün tarihi: {{ date }}</p>
{% endblock %}
