{% extends "layouts/default.njk" %}

{% block title %}Contact{% endblock %}

{% block content %}
<p>Merhaba ben {{ username }}</p>

<p>Bu içerik contact.njk içinden geliyor.</p>
<p>Bugünün tarihi: {{ date }}</p>
{% endblock %}
