{% extends "layouts/default.njk" %}

{% block title %}Ana Sayfa{% endblock %}

{% block content %}
<p>Bu içerik index.njk içinden geliyor.</p>
<p>Bugünün tarihi: {{ date }}</p>

{% endblock %}

{% put test %}
<b>ben çalışıyorum burdayım</b>
{% endput %}



